

/********************hdtab********************/
body,table, div,td, th{font-size: 12px;font-family: "宋体,Verdana,Arial";}


#ConfusionOptions table
{
	border-collapse:collapse;
}
#ConfusionOptions td
{
	padding:3px 0px;
}
/*****************jqModal***************************/
/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: absolute;
    /*top: 17%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;*/
    
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/*style:'none'*/
.jqmWindow.none {	
    margin-left: 0px;  
    border: 0px solid black;
    padding: 0px;
}
/*style:'deault'*/
.jqmWindow.deault {	
    margin-left: 0px;  
}

.check_size{ background-color:Silver;padding:10px 5px;}
.check_size_tip{}
.check_size_ads{}